@page
@model DownloadPersonalDataModel
@{
    ViewData["Title"] = "Transferir os teus dados";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>Transferir os teus dados</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
