@page "/Users/Manage"
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>Perfil</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="profile-form" method="post" class="settings-form">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="form-floating mb-3">
        <input asp-for="Username" class="form-control" placeholder="Username"/>
        <label asp-for="Username">Nome do utilizador</label>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <button id="update-profile-button" type="submit" class="btn-accent auth-submit">Guardar</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
