@page
@model Achievement.Pages.Plataforms.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Plataform</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Plataform.Id" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Plataform.Type" class="control-label"></label>
                <select asp-for="Plataform.Type" class="form-control" aria-required="true"></select>
                <span asp-validation-for="Plataform.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Plataform.Name" class="control-label"></label>
                <input asp-for="Plataform.Name" class="form-control" aria-required="true"/>
                <span asp-validation-for="Plataform.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plataform.Manufacturer" class="control-label"></label>
                <input asp-for="Plataform.Manufacturer" class="form-control" />
                <span asp-validation-for="Plataform.Manufacturer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plataform.ReleaseDate" class="control-label"></label>
                <input asp-for="Plataform.ReleaseDate" class="form-control" type="date" />
                <span asp-validation-for="Plataform.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plataform.Slug" class="control-label"></label>
                <input asp-for="Plataform.Slug" class="form-control" />
                <span asp-validation-for="Plataform.Slug" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input asp-for="Plataform.IsVisible" class="form-check-input" />
                <label asp-for="Plataform.IsVisible" class="form-check-label"></label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
