@page
@model Achievement.Pages.Games.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Game</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Game.Name" class="control-label"></label>
                <input asp-for="Game.Name" class="form-control" aria-required="true" />
                <span asp-validation-for="Game.Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <span class="text-danger">*</span>
                <label asp-for="Game.Description" class="control-label"></label>
                <textarea asp-for="Game.Description" class="form-control" aria-required="true"></textarea>
                <span asp-validation-for="Game.Description" class="text-danger"></span>
            </div>

            <div class="form-row">
                <div class="form-group col-md-4">
                    <span class="text-danger">*</span>
                    <label asp-for="Game.ReleaseDate" class="control-label"></label>
                    <input asp-for="Game.ReleaseDate" class="form-control" aria-required="true" />
                    <span asp-validation-for="Game.ReleaseDate" class="text-danger"></span>
                </div>
                <div class="form-group col-md-2">
                    <label asp-for="Game.Rating" class="control-label"></label>
                    <input asp-for="Game.Rating" class="form-control" />
                    <span asp-validation-for="Game.Rating" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label asp-for="Game.Length" class="control-label"></label>
                    <input asp-for="Game.Length" class="form-control" />
                    <span asp-validation-for="Game.Length" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Game.Developer" class="control-label"></label>
                <input asp-for="Game.Developer" class="form-control" />
                <span asp-validation-for="Game.Developer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Game.Publisher" class="control-label"></label>
                <input asp-for="Game.Publisher" class="form-control" />
                <span asp-validation-for="Game.Publisher" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Game.CoverImage" class="control-label"></label>
                <input asp-for="Game.CoverImage" class="form-control" />
                <span asp-validation-for="Game.CoverImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Game.BannerImage" class="control-label"></label>
                <input asp-for="Game.BannerImage" class="form-control" />
                <span asp-validation-for="Game.BannerImage" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Game.Plays" class="control-label"></label>
                <input asp-for="Game.Plays" class="form-control" />
                <span asp-validation-for="Game.Plays" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Game.Slug" class="control-label"></label>
                <input asp-for="Game.Slug" class="form-control" />
                <small class="form-text text-muted">Deixe em branco para gerar automaticamente.</small>
                <span asp-validation-for="Game.Slug" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-page="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
